#nums {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

#nums > button {
    padding: 30px;
    font-size: x-large;
}

#ops {
    display: inline-grid;
    grid-template-columns: auto;
}

#ops > button {
    padding: 25px;
    font-size: x-large;
}

#submit-btn, #clear-btn {
    font-size: x-large;
}